<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <% if @user == current_user %>
        <%= render 'users/info',user: current_user %>
      <% else %>
        <%= render 'users/info',user: @book.user %>
      <% end %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @books %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td>
            <%= @book.body %>
            <%= @book.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td id="favorite_btn_<%= @book.id %>">
            <%= render "favorites/favorite_btn", book: @book %>
          </td>

          <td class="comment-counter">
            <%= render "post_comments/counter", book: @book %>
          </td>

          <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
</table>
      <!--コメント一覧を非同期通信で表示する-->
      <div id="post_comment_index">
        <%= render "post_comments/index",book: @book %>
      </div>
      <!--コメントフォーム-->
        <%= render "post_comments/form",book: @book,post_comment: @post_comment %>


    </div>
  </div>
</div>